table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.mat-suffix{
    display : flex;
    flex-direction: row;
    align-items: center;
}

.tdbox {
    text-align: left;
}

.orderby {
    display: flex;
    flex-direction: row;
}

.mat-column-name {
    text-align: left;
    width: auto;
}


.mat-column-id {
    text-align: center;
    width: 10%;
}


.mat-column-add {
    text-align: center;
    width: 10%;
}

p {
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
margin-right: 10pxs;
}

mat-paginator {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top-style: dashed;
    border-top-color: bisque;
}

.cell-name, .mat-loop
{
    display:inline-block;
}

.mat-cell
{
    padding:10px;
}

