
<mat-form-field  class="filter">
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Ex. Microsoft" [(ngModel)]=searchword name="name" (input)="applyFilter()">
  <div class="mat-suffix" matSuffix>
    <button *ngIf="removable" mat-icon-button (click)="removeSearch()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-icon>search</mat-icon>
  </div>
 
</mat-form-field>

<div>
  <table mat-table [dataSource]="companyList" matSort class="mat-elevation-z8">
  
    <!-- Id Column -->
    <div *ngIf="adminRights">
    <ng-container *ngIf="adminRights" matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef >
        Id
        </th>
      <td mat-cell *matCellDef="let company"> {{company.id}} </td>
    </ng-container>
    </div>
    
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef   >
          <mat-button-toggle-group name="nameButton" aria-label="buttonOrderByName" class="orderby">
         
            <mat-button-toggle (click)="setOrderBy('asc','company.name')" >
              <mat-icon [inline]="true">expand_less</mat-icon>
            </mat-button-toggle>
            <p>{{'name'}} </p>
            <mat-button-toggle (click)="setOrderBy('desc','company.name')" >
              <mat-icon [inline]="true">expand_more</mat-icon>
            </mat-button-toggle>
  
          </mat-button-toggle-group>
      </th>
   

      <td mat-cell *matCellDef="let company" class="tdbox"> 
        <div  *ngIf="adminRights; else userRights">
          <button mat-icon-button (click)="deleteCompanies(company.id)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
          {{ company.name }}
        </div>
        
       

        <ng-template #userRights>
          {{ company.name }}
        </ng-template>
          
        <div class="mat-loop">
          <button mat-icon-button >
            <a routerLink="/companies/{{ company.id }}">
              <mat-icon>zoom_in</mat-icon>
            </a>
          </button>
          </div>
      </td>
    </ng-container>

    
    <div *ngIf="adminRights">
      <ng-container  matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef> 
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>
              add_box
            </mat-icon> 
          </button>
        </th>
        <td mat-cell *matCellDef="let company"> 
      </ng-container>
    </div>
    
    


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getServerData($event)"
  aria-label="Select page">

</mat-paginator>

</div>