table{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    align-items: flex-end;
}

.mat-suffix{
    display : flex;
    flex-direction: row;
    align-items: center;
}

.tdbox {
    display: flex;
}

.orderby {
    display: flex;
    flex-direction: row;
}

