.mat-card {
    width: auto;
    display: flex;
    flex-direction: column;
    border-style: none;
    box-shadow: none;
}


.title {
    text-align: center;
    margin-bottom: 30px;
}

.input {
    border-style: solid;
    border-width: thin;
    padding: 2pt;
    margin: 1pt;
    background-color: rgb(233, 238, 238);
}
