*
{
    padding:10px;
}


.mat-button{
    font-size: 45px;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
}
.mat-card{
    
    font-family: Verdana, sans-serif;
    text-align: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border-style: ridge;
    border-color: aquamarine;
}

.mat-icon.crossleft{
    font-size: 500%;
    color: #004094;
}

.mat-icon.crossright{
    margin-right: 144px;
    font-size: 500%;
    color: #028fdc;
}

.mat-button.company-button{
    color: #1f996e;
    font-size:x-large;
    white-space:normal;
}

.mat-button.computer-button{
    color: #1f996e;
    font-size:x-large;
    white-space:normal;
}

p.explication{
    font-size: large;
}

.mat-grid-tile
{
    max-width: 48%;
}
