.footer {
    color: #1f996e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    background-color: black;
    border-color: #fff700;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-top-style: solid;
    border-top-color: white;
  }