
<mat-card>
	<mat-card-content>
		<form role="form" >

			<h2>{{"login" | translate}}</h2>

			<mat-form-field class="full-width-input">
				<input matInput type="text"
					class="form-control" placeholder="{{'username' | translate}}" id="username" name="username" required [(ngModel)]="credentials.username"/>
			</mat-form-field>

			<mat-form-field class="full-width-input">
				<input matInput type="password"
					class="form-control" placeholder="{{'password' | translate}}" id="password" name="password" required [(ngModel)]="credentials.password"/>
			</mat-form-field>
			<button mat-raised-button (click)="login()" color="primary">{{"login" | translate}}</button>
			<button mat-raised-button color="primary" (click)="register()" [attr.aria-label]="'register' | translate" >{{'register' | translate}}</button>
		</form>
	</mat-card-content>
</mat-card>



