<mat-toolbar class="navigation">
  <div class = "right-side">
    <div class="logo">
      <div><a class="lien-menu" [routerLink]="['/']" >
        <img class="oxyl-logo" src="../../../assets/oxyl-logo.png" alt="logo excilys">
        </a>
      </div>
    </div>
    
    <app-menu></app-menu>
  </div>
  
  <span class="main-title">{{'appName' | translate }}</span>
  <div class="nav-btn">
    <span class="username" *ngIf="authInfos.authenticated">{{authInfos.user?.username}} ({{authInfos.user?.authority}}) </span>
    <a *ngIf="!authInfos.authenticated" routerLink="/register" [attr.aria-label]="'register' | translate" >{{'register' | translate}}</a>
    <button mat-icon-button routerLink="{{authInfos.authenticated? '/logout' : '/login'}}" [attr.aria-label]="authInfos.authenticated? ('login' | translate): ('logout'| translate)" >
      <mat-icon >{{authInfos.authenticated ? 'logout'  : 'login'}}</mat-icon>
    </button>
    <app-lang-choice></app-lang-choice>
  </div>
</mat-toolbar>
