.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(219, 203, 224);
  border-color: black;
}
.logo {
  display: flex;
  flex-direction: row;
}

.menu
{
  display: flex;
  flex-direction: row;
}

.right-side
{
  display: flex;
  flex-direction: right;
  flex-wrap: nowrap;
  align-items: center;
}

.excilys-logo {
  //width: 30%;
  height: 82px;
  width:auto;
}
