.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(219, 203, 224);
  border-color: black;
  margin: 0px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
  height:fit-content;
}
.logo {
  display: block;
}

.menu
{
  display: flex;
  flex-direction: row;
}

.right-side
{
  display: flex;
  flex-direction: right;
  flex-wrap: nowrap;
  align-items: center;
}

.oxyl-logo {
  //width: 30%;
  height: 82px;
  width:auto;
}
