.navigation {
  display: flex;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  border-color: black;
  margin: 0px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
  height:fit-content;
  border-bottom-style: solid;
  border-bottom-color: white;
  color: #1f996e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.logo {
  display: block;
}

.menu
{
  display: flex;
  flex-direction: row;
}

.main-title
{
  flex-grow: 4;
  text-align: center;
}

.right-side
{
  display: flex;
  flex-direction: right;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
}

.oxyl-logo {
  //width: 30%;
  height: 82px;
  width:auto;
  flex-grow: 1;
}

.nav-btn {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: nowrap;
  color: aqua;
}
