<mat-card mat-dialog-content>

  <mat-card-header>
    <mat-card-title class="title"> Ajouter une entreprise :</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <label for="name">{{"name" | translate}} :</label>
      <input matInput class="input"
            type="text"
            id="name"
            required
            [(ngModel)]="company.name"
            name="name"
      />   
      <div class="submitted" *ngIf="submitted">
        <p>{{"companySent" | translate}}</p>
      </div>
   </mat-card-content>  


  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="saveCompany()">{{"submit" | translate}}</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">{{"cancel" | translate}}</button>
  </mat-card-actions>

</mat-card> 



  