/* You can add global styles to this file, and also import other style files */

html, body { width: 100%; 
background-color: black;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root
{
    font-size:100%;
}

.title{
    text-align: center;
}


@media only screen and (max-width: 500px) and (orientation:landscape) {
	
	:root {
		font-size:60%;
	}
	  
}

@media only screen and (max-width: 500px) and (orientation:portrait) {
	
	:root {
		font-size:60%;
	}
}

@media only screen and (min-width: 501px) and (max-width: 900) and (orientation: portrait) {
	
	:root {
		font-size:100%;
	}
}

@media only screen and (min-width: 501px) and (max-width: 900) and (orientation: landscape) {
	
	:root {
		font-size:80%;
	}
}

