<mat-card>
	<mat-card-content>
		<form role="form" (submit)="register()">
			<h2>Inscription</h2>
			<mat-form-field class="full-width-input">
				<input matInput type="text"
					class="form-control" placeholder="{{'username' | translate}}" id="username" name="username" required [(ngModel)]="credentials.username"/>
			</mat-form-field>
			<mat-form-field class="full-width-input">
				<input matInput type="password"
					class="form-control" placeholder="{{'password' | translate}}" id="password" name="password" required [(ngModel)]="credentials.password"/>
			</mat-form-field>
			<div>{{'proposeConnect' | translate}} <a routerLink="/login" [attr.aria-label]="'linkConnect' | translate" >{{'linkConnect' | translate}}</a></div>
			<button mat-raised-button color="primary">Inscription</button>
		</form>
	</mat-card-content>
</mat-card>


